---
import "@/styles/globals.css"

import MainLayout from "@/layouts/MainLayout.astro"
import Hero from "@/components/sections/Hero.astro"
import About from "@/components/sections/About.astro"

import ThemeToggle from "@/components/shared/ThemeToggle.astro"
---

<MainLayout>
  <div class="mx-auto w-fit my-4">
    <ThemeToggle />
  </div>

  <Hero />

  <About />
</MainLayout>
