---
import "@/styles/globals.css"

import MainLayout from "@/layouts/MainLayout.astro"
import Hero from "@/components/Hero.astro"

import ThemeToggle from "@/components/shared/ThemeToggle.astro"
---

<MainLayout>
  <div class="mx-auto w-fit my-4">
    <ThemeToggle />
  </div>

  <Hero />
</MainLayout>
